footer{
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 10px;
}

.contact-section { max-width: 1100px; margin: 0 auto 0 auto; padding: 0 20px; }

.contact-container {
    display: flex;
    gap: 60px;
    margin-top: 50px;
}

/* Info lateral */
.contact-info { flex: 1; }
.contact-info h3 { font-size: 1.8rem; margin-bottom: 20px; }
.contact-info p { color: #aaa; line-height: 1.6; margin-bottom: 30px; }

.info-item { display: flex; align-items: center; gap: 20px; margin-bottom: 25px; }
.info-item .icon { font-size: 1.5rem; color: #ffb400; }
.info-item h4 { margin: 0; font-size: 0.9rem; color: #777; }
.info-item p { margin: 0; color: #fff; font-weight: bold; }

.redes{
    display: flex;
}
.red-social{
    position: relative;
    background-color: rgb(36, 14, 0);
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    height: 50px;
    width: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper{
    display: inline-flex;
    list-style: none;
    padding: 0;
}
.wrapper .icon{
    position: relative;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin: auto;
}

.wrapper .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover .tooltip,
.wrapper .icon:hover span{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before{
    background-color: rgb(0, 47, 255);
    color: #fff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before{
    background-color: rgb(15, 128, 0);
    color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before{
    background-color: rgb(82, 12, 76);
    color: #fff
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before{
    background-color: rgb(255, 0, 242);
    color: #fff
}

.wrapper .icon a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    text-align: center;
    justify-content: center;
}


/* Estilo del Formulario */
.contact-form { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "nombre email"
        "asunto asunto"
        "msg msg"
        "msg msg"
        "btn btn";
    gap: 15px 30px ;
    width: 60%;
}



.contact-form input, .contact-form textarea {
    width: 100%;
    background: #252525;
    border: 1px solid #252525;
    border-radius: 30px;
    color: white;
    outline: none;
    font-family: inherit;
    transition: border-color 0.3s;
    padding: 10px;
}

.contact-form textarea { border-radius: 20px; }

.contact-form input:focus, .contact-form textarea:focus {
    border-color: #ffb400;
}

/* Botón de envío */
.btn-submit {
    align-self: flex-start;
    background: transparent;
    border: 1px solid #ffb400;
    color: white;
    padding: 0 0 0 25px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 50px;
    transition: 0.3s;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.icon-send {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.btn-submit:hover { background: #ffb400; color: black; }

/* Responsive */
@media (max-width: 800px) {
    .contact-container { flex-direction: column; }
    .input-group { flex-direction: column; }
}