.portfolio-section { max-width: 1200px; margin: 80px auto; padding: 0 20px; text-align: center; }

/* Filtros */
.filter-menu { display: flex; justify-content: center; gap: 25px; margin-bottom: 50px; }
.filter-btn { 
    background: none; border: none; color: #777; font-weight: bold; 
    cursor: pointer; text-transform: uppercase; transition: 0.3s;
}
.filter-btn.active, .filter-btn:hover { color: #ffb400; }

/* Grid */
.project-grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    gap: 30px; 
}

.project-card { 
    position: relative; border-radius: 15px; overflow: hidden; 
    background: #1a1a1a; aspect-ratio: 16/10;
}

/* Control de visibilidad */
.project-card.hidden { display: none; }
.project-card.visible { display: block; animation: zoomIn 0.4s ease forwards; }

.project-card img{
    width: 100%;
    height: 100%;
}

@keyframes zoomIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

/* Overlay Amarillo */
.project-overlay {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(255, 180, 0, 0.98); display: flex; align-items: center;
    justify-content: center; opacity: 0; transition: 0.4s;
}
.project-card:hover .project-overlay { opacity: 1; }
.project-info h3 { color: #000; margin: 0; text-transform: uppercase; }
.project-info p { color: #575757}

/* Botón Cargar Más */
.load-more-container { margin-top: 60px; }
.btn-load {
    background: transparent; border: 2px solid #ffb400; color: #ffb400;
    padding: 15px 40px; border-radius: 30px; font-weight: bold;
    cursor: pointer; transition: 0.3s;
}
.btn-load:hover { background: #ffb400; color: #000; }
.btn-load.hide-btn { display: none; } /* Para cuando no hay más que cargar */
